install-sh
compile
depcomp
missing
ref_sp
public
settings.*
win32/agent_win32.cpp
win32/agent_win32.h


### ↓↓↓ Add by IWATA ↓↓↓ ###
.deps/
autom4te.cache/
config.h
config.status
mrsigner.sh
run-SGXserver
run-client
stamp-h1
/Makefile
Enclave/Makefile
testdb
dataowner_data/*.vcf
dataowner_data/chr22_GWD/
dataowner_data/chr22_JPT/
SGXserver_data/
client_data/CreatePositionList.py
*.sh
*.log
*.o
*~
*.org*
*.init
*.data

Intel_SGX_Attestation_RootCA.pem
client_data/script/